<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Edit Page
        </title>
    </head>
    <body>
        <h2>You can edit the {{ name }} entry here</h2>
        <div>
            <form action="{% url 'edit' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="name" value="{{ name }}">
                {% if content %}
                <textarea name="content" rows="10" cols="100">{{ content }}</textarea>
                {% endif %}
                <div>
                    <button type="submit">Save</button>
                </div>
                
            </form>
        </div>
    </body>
</html>