<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Edit Page
        </title>
    </head>
    <body>
        <div>
            <form action="{% url 'edit' %}" method="post">
                <h1 name="name">Here you can edit the {{ name }} entry</h1>
                {% csrf_token %}
                {% if content %}
                <textarea name="content" rows="10" cols="100">{{ content }}</textarea>
                {% endif %}
                <div>
                    <button type="submit">Save</button>
                </div>
                
            </form>
        </div>
    </body>
</html>