{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search results
{% endblock %}

{% block body %}
{% if matching_files %}
    <p>We could not find an exact match but here are some relevant search results</p>
    <ul>
        {% for file in matching_files %}
            <li><a href="{% url 'entry' name=file %}">{{ file }}</a></li>
        {% endfor %} 
    </ul>
{% else %}
    <h4>Sorry, your query does not match any of our entries at all</h4>
    <p>Try searching for something else</p>
{% endif %}
{% endblock %}